* {
  margin: 0;
}
html {
  font-family: "Roboto Serif", serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-size: 22px;
}

header {
  margin: 40px auto;
}
h1,
h2,
h3 {
  text-align: center;
  font-family: "Roboto Serif", serif;
  font-weight: 500;

  color: #2b2b2b;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 22px;
  color: #2b2b2b;
  font-family: "Roboto Serif", serif;
  font-optical-sizing: auto;
  min-height: 70vh;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.content {
  font-weight: 300;
  text-align: center;
  line-height: 180%;
  text-align: left;
  word-wrap: break-word;
}

.container .nav-chapter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.container .nav-chapter-btn {
  width: 100%;
  display: block;
  padding: 10px 20px;
  width: fit-content;
  border: 1px solid #e9ecef;
  border-radius: 10px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 22px;
  cursor: pointer;
  background-color: #abced5;
  font-family: "Roboto Serif", serif;
}

.hidden {
  visibility: hidden;
}
ol li {
  list-style-type: none;
  padding: 1rem 0;
  margin-left: 20px;
  border-bottom: 1px dotted black;
  cursor: pointer;
}

ol li:first-child {
  border-top: 2px solid black;
}

.chapter-item {
  text-decoration: none;
  color: #2b2b2b;
}

.home-btn > h1,a {
  text-decoration: none;
  color: #0087bc;
}


footer {
  background-color: #fff;
  color: #2b2b2b;
  padding: 20px 0;
  text-align: center;
  border-top: 2px solid #ddd; /* Border top tách biệt với nội dung trên */
}

.footer-container {
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-info {
  margin: 10px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
  margin: 20px;
}

.footer-links ul li {
  display: inline-block;
  margin: 0 10px;
}

.footer-links ul li a {
  color: #2b2b2b;
  text-decoration: none;
}

.footer-links ul li a:hover {
  text-decoration: underline;
}
